@import 'variables';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  border: solid 1px blue;
}

h1 {
  text-align: center;
}

p {
  color: $text-color;
  span {
    color: red;
  }
}

input {
  color: $text-color;
}

label {
  color: $text-color;
}

main {
  height: 100%;
  border: solid 1px green;
}

.central-display {
  width: 50vw;
  height: 80%;
  border: solid 1px black;
  display: grid;
  grid-template-columns: auto auto;
}

button {
  height: 30px;
  background-color: $base-color;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.container {
  display: flex;
}

.central-display-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid 1px blue;
  height: 175px;
}

.sidebar {
  width: 15em;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  align-items: center;
  position: relative;
  top: 28px;
}

.sidebar form {
  margin-bottom: 25px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar form button {
  margin-top: 10px;
}

.sidebar label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sidebar input {
  width: 33%;
}

.sidebar button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;

}